$alldemo: orange;
@mixin all($p1, $p2){
    align-items: center;
    letter-spacing: $p1;
    background-color: $p2;
}
.demo{
    color: brown;
    background-color: aquamarine;
    align-items: center;
    border: 2px solid black;
    margin-left: 5px + 30px;
}
.demo1{
    color:$alldemo;
    @include all(1rem,red);
    border: 2px solid black;
    padding: 10px;
}
// .demo2{
//     color:$alldemo;
//     @include all;
// }
// .demo3{
//     color:$alldemo;
//     @include all;
// }
// .demo4{
//     color:$alldemo;
//     @include all;
// }